Source: thunderbird-extq
Section: none
Priority: optional
Maintainer: Q4OS Team <devteam@q4os.org>
Build-Depends: debhelper (>= 9~), q4os-devpack-base
Standards-Version: 3.8.4

#'desktop-file-utils' needed for 'open containing folder' and mime associations

Package: thunderbird-extq
Architecture: all
Pre-Depends: thunderbird
Depends:
Recommends: desktop-file-utils, gtk2-engines
Conflicts: q4os-thunderbird, thunderbird-q4
Provides:
Replaces:
Breaks:
Description: Mozilla Thunderbird metapackage
